.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --icons-color: #afb1b8;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-bgc);
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
  transition: color 250ms var(--time-transition);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.text {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.header--border {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header--border {
    border: none;
  }
}

.projects__title,
.team__title,
.clients__title {
  margin-bottom: 30px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .projects__title,
  .team__title,
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  color: var(--primary-bgc);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.gallery__button {
  padding: 6px 22px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--secondary-bgc);
  border: none;
  border-radius: 4px;
  transition: color 250ms var(--time-transition), background-color 250ms var(--time-transition), box-shadow 250ms var(--time-transition);
}

.gallery__button:hover, .gallery__button:focus {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo--first-color {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header__logo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
  }
}

.header__logo--second-color {
  color: #000000;
}

.footer__logo--second-color {
  color: var(--primary-bgc);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.header {
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}

.header__button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__close-icon {
  display: none;
}

.header__button.is-open .header__burger-icon {
  display: none;
}

.header__button.is-open .header__close-icon {
  display: block;
}

@media screen and (max-width: 767px) {
  .header__icon {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 64px;
    background-color: var(--primary-bgc);
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts--tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts--mobile {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .header__link {
    padding-left: 40px;
    font-weight: 500;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .header__link--mail {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__link--mail {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header__link--mail {
    font-size: 14px;
    letter-spacing: 1.14;
  }
}

@media screen and (min-width: 480px) {
  .header__link--phone {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header__link--phone {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .header__link--phone {
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 1.14;
  }
}

.header__mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header__mail-icon {
    width: 16px;
    height: 12px;
  }
}

.header__phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header__phone-icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .header__phone-icon {
    width: 10px;
    height: 16px;
  }
}

.header__icon-menu:hover,
.header__icon-menu:focus {
  fill: var(--accent-color);
}

.header__socals-box {
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 48px;
  background-color: var(--primary-bgc);
}

@media screen and (min-width: 768px) {
  .header__socals-box {
    display: none;
  }
}

.header__socals-link {
  display: inline-block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.header__socals-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .header__pagination {
    display: none;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background-color: var(--primary-bgc);
  }
}

.pagination.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .pagination__list {
    display: block;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 302px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    background-color: var(--primary-bgc);
  }
}

@media screen and (max-width: 767px) {
  .pagination__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .pagination__item {
    display: inline-block;
    position: relative;
  }
  .pagination__item:not(:last-child) {
    margin-right: 50px;
  }
}

.pagination__link {
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .pagination__link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.pagination__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .pagination__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.hero {
  max-height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-1600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-1600@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    max-width: 1600px;
    padding-bottom: 94px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    overflow-y: scroll;
    padding-top: 93px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--time-transition);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: relative;
  z-index: 15;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-115%, -50%) scale(1);
    transition: transform 250ms var(--time-transition);
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 800;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: outline 250ms var(--time-transition), color 250ms var(--time-transition);
}

.modal__close-btn:focus, .modal__close-btn:hover {
  color: var(--accent-color);
  outline: transparent;
}

.modal__close-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__text {
  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 12px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal__text {
    line-height: 1.15;
  }
}

.modal__form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__box:hover, .modal__box:focus {
  color: var(--accent-color);
  transition: color 250ms var(--time-transition);
}

.modal__label {
  position: relative;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  padding-left: 30px;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 250ms var(--time-transition), border 250ms var(--time-transition);
}

.modal__input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #000;
  transition: fill 250ms var(--time-transition);
}

textarea.modal__input {
  resize: none;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox-input:focus + .modal__checkbox-icon {
  outline: 3px solid var(--accent-color);
}

.modal__checkbox-input:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  fill: var(--primary-bgc);
  border: transparent;
}

.modal__checkbox-icon {
  margin-right: 4px;
  fill: transparent;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #000;
  transition: background-color 250ms var(--time-transition), fill 250ms var(--time-transition), border 250ms var(--time-transition);
}

.modal__link {
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__checkbox-text {
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__submit-button {
  margin-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 40px;
}

.features {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(( 100% - 30px * 3) /2);
    height: 251px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 4*30px) / 4);
  }
}

.features__icon-box {
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .features__icon-box {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 190px;
    padding-right: 190px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__icon-box {
    padding-left: 142px;
    padding-right: 142px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon-box {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.projects {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .projects {
    display: flex;
  }
}

.projects__list {
  display: flex;
}

.projects__item {
  position: relative;
  width: calc((100% - 3 * 30 px) / 3);
}

.projects__item:not(:last-child) {
  margin-right: 30px;
}

.projects__text {
  position: absolute;
  top: 100%;
  transform: translateY(-110%);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-bgc);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--secondary-bgc);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__item {
  padding-bottom: 24px;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 16px;
  padding-left: auto;
  padding-right: auto;
}

.team__item-title {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.socals__list {
  display: flex;
  justify-content: center;
}

.socals__link {
  color: var(--icons-color);
  background-color: var(--primary-bgc);
  border-radius: 50%;
  transition: background-color 250ms var(--time-transition), color 250ms var(--time-transition);
}

@media screen and (min-width: 1200px) {
  .socals__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .socals__link:hover, .socals__link:focus {
    background-color: var(--accent-color);
    color: var(--primary-bgc);
  }
}

.socals__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.socals__item:not(:last-child) {
  margin-right: 10px;
}

.socals__icon {
  fill: currentColor;
}

.footer__socal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .footer__socal-link {
    transition: background-color 250ms var(--time-transition);
  }
  .footer__socal-link:hover, .footer__socal-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-bgc);
  }
}

.footer__socal-link .footer__socal-icon {
  fill: var(--primary-bgc);
}

.footer__socal-item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 30px * 2) / 2);
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: border 250ms var(--time-transition), color 250ms var(--time-transition);
}

.clients__item:hover, .clients__item:focus {
  border: 1px solid var(--accent-color);
}

.clients__item:hover .clients__link, .clients__item:focus .clients__link {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  color: var(--icons-color);
}

.clients__icon {
  fill: currentColor;
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress__map-item {
  margin-bottom: 15px;
}

.adress__mail-item {
  margin-bottom: 6px;
}

.adress__map-link {
  color: var(--primary-bgc);
}

.adress__mail-link,
.adress__phone-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input {
  height: 50px;
  width: 450px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer__input::placeholder {
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__send-icon {
  margin-left: 10px;
  fill: var(--primary-bgc);
}

.footer__submit-button {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer__submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__submit-button {
    display: inline-flex;
    margin-left: 12px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}

.footer__container {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width_1200px) {
  .footer__container {
    justify-content: space-between;
  }
}

.left {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .left {
    padding: 0;
    text-align: left;
  }
}

.middle {
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .middle {
    padding: 0;
  }
}

.footer__appeal {
  margin-bottom: 20px;
  color: var(--primary-bgc);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.right {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .right {
    text-align: left;
  }
}

.gallery {
  padding-top: 94px;
  font-size: 16px;
  line-height: 1.88;
}

.buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.buttons__item:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.gallery__item {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--time-transition);
}

@media screen and (min-width: 480px) {
  .gallery__item {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.gallery__item:hover, .gallery__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item:hover .gallery__overlay,
.gallery__item:focus .gallery__overlay {
  transform: translateY(0);
}

.gallery__name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.gallery__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__box {
  position: relative;
  overflow: hidden;
}

.gallery__box img {
  height: 100%;
}

.gallery__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-bgc);
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-transition);
}

.gallery__description {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}
/*# sourceMappingURL=main.css.map */