.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --icons-color: #afb1b8;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-bgc);
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
  transition: color 250ms var(--time-transition);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.text {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects__title,
.team__title,
.clients__title {
  margin-bottom: 50px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  color: var(--primary-bgc);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.gallery__button {
  padding: 6px 22px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--secondary-bgc);
  border: none;
  border-radius: 4px;
  transition: color 250ms var(--time-transition), background-color 250ms var(--time-transition), box-shadow 250ms var(--time-transition);
}

.gallery__button:hover, .gallery__button:focus {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--first-color {
  color: var(--accent-color);
}

.header__logo {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  line-height: 1.16;
}

.header__logo--second-color {
  color: #000000;
}

.footer__logo--second-color {
  color: var(--primary-bgc);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.header__container {
  position: relative;
  height: 60px;
}

.header__button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0;
  background-color: transparent;
  border: none;
}

.header__close-icon {
  display: none;
}

.header__button.is-open .header__burger-icon {
  display: none;
}

.header__button.is-open .header__close-icon {
  display: block;
}

.pagination.is-open {
  display: block;
}

.header__icon {
  display: none;
}

.header__contacts {
  display: flex;
  flex-direction: column-reverse;
}

.header__link {
  padding-left: 40px;
  color: var(--primary-text-color);
}

.header__link--mail {
  padding-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.header__link--phone {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header__mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__icon-menu:hover,
.header__icon-menu:focus {
  fill: var(--accent-color);
}

.header__socals-box {
  padding-left: 40px;
  padding-bottom: 48px;
}

.header__socals-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.header__socals-link:not(:last-child) {
  margin-right: 20px;
}

.header__pagination {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-bgc);
  display: none;
}

.pagination__list {
  padding-top: 60px;
  padding-left: 40px;
  padding-bottom: 302px;
}

.pagination__item {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.pagination__item:not(:last-child) {
  margin-bottom: 32px;
}

.pagination__link {
  color: var(--secondary-color);
}

.pagination__link--current {
  color: var(--accent-color);
}

.hero {
  max-height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  margin-left: 125px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--time-transition);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time-transition);
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: outline 250ms var(--time-transition), color 250ms var(--time-transition);
}

.modal__close-btn:focus, .modal__close-btn:hover {
  color: var(--accent-color);
  outline: transparent;
}

.modal__close-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__text {
  margin: 0;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 12px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__label {
  position: relative;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  padding-left: 30px;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 250ms var(--time-transition), border 250ms var(--time-transition);
}

.modal__input:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #000;
  transition: fill 250ms var(--time-transition);
}

textarea.modal__input {
  resize: none;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox-input:focus + .modal__checkbox-icon {
  outline: 3px solid var(--accent-color);
}

.modal__checkbox-input:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  fill: var(--primary-bgc);
  border: transparent;
}

.modal__checkbox-icon {
  margin-right: 7px;
  fill: transparent;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #000;
  transition: background-color 250ms var(--time-transition), fill 250ms var(--time-transition), border 250ms var(--time-transition);
}

.modal__link {
  color: var(--accent-color);
}

.modal__submit-button {
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
  margin-bottom: 40px;
}

.features {
  padding-top: 94px;
}

.features__item {
  width: calc((100% - 3 * 30px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  width: 270px;
  height: 120px;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.projects__item:not(:last-child) {
  margin-right: 30px;
}

.projects__text {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-bgc);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: var(--secondary-bgc);
}

.team__item {
  width: calc((100% - 3 * 30px) / 4);
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 16px;
  padding-left: auto;
  padding-right: auto;
}

.team__item-title {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.socials__list {
  padding-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.socials__link {
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  background-color: var(--primary-bgc);
  border-radius: 50%;
  transition: background-color 250ms var(--time-transition), color 250ms var(--time-transition);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  fill: currentColor;
}

.footer__social-item {
  align-content: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-bgc);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--time-transition);
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-item:hover, .footer__social-item:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
}

.footer__social-icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__link {
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: border 250ms var(--time-transition), color 250ms var(--time-transition);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  fill: currentColor;
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress__map-item {
  margin-bottom: 15px;
}

.adress__mail-item {
  margin-bottom: 6px;
}

.adress__map-link {
  color: var(--primary-bgc);
}

.adress__mail-link,
.adress__phone-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input {
  height: 50px;
  width: 350px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer__input::placeholder {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__submit-button {
  margin-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer__send-icon {
  margin-left: 10px;
  fill: var(--primary-bgc);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__box {
  align-items: baseline;
}

.left {
  margin-right: 70px;
}

.middle {
  margin-right: 93px;
}

.footer__appeal {
  margin-bottom: 20px;
  color: var(--primary-bgc);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;
}

.right {
  width: 570px;
}

.gallery {
  padding-top: 94px;
  font-size: 16px;
  line-height: 1.88;
}

.buttons__list {
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.gallery__list {
  padding-bottom: 94px;
}

.gallery__item {
  width: calc((100% - 2 * 30px) / 3);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--time-transition);
}

.gallery__item:hover, .gallery__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.gallery__item:hover .gallery__overlay,
.gallery__item:focus .gallery__overlay {
  transform: translateY(0);
}

.gallery__name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.gallery__title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__box {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-bgc);
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-transition);
}

.gallery__description {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}
/*# sourceMappingURL=main.css.map */