.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: #2f303a;
}

.footer__container {
	align-items: baseline;
}

.left {
	text-align: center;
	padding-bottom: 60px;
// 	margin-right: 70px;
 }

.middle {
	text-align: center;
	padding-bottom: 60px;
	// margin-right: 93px;
}

.footer__appeal {
	margin-bottom: 20px;

	color: var(--primary-bgc);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.right {
	text-align: center;
	// width: 570px;
}
