.header__socals-box{
	padding-right: 15px;
	background-color: var(--primary-bgc);

	@media screen and (min-width:768px) {
		display: none;
	}
}

.header__socals-link{
	display: inline-block;
	color: var(--accent-color);
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;

	letter-spacing: 0.02em
}

.header__socals-link:not(:last-child){
margin-right: 20px;
}
