.header{
	height: 60px;

	@media screen and (min-width:768px) {
		height: 80px;
	}
}

.header__container{
	@media screen and (max-width:767px) {
			position: relative;
	}
	@media screen and (min-width:768px) {
		display: flex;
		justify-content: space-between;
	}
}

// !Mobile
.header__button{
	 position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;

	padding: 0;

	background-color: transparent;
	border: none;
	
	@media screen and (min-width:768px) {
		display: none;
	}
}

.header__close-icon{
	display: none;
}

.header__button.is-open .header__burger-icon{
	display: none;
}
.header__button.is-open .header__close-icon{
	display: block;
}
