.header__container{
	position: relative;
	height: 60px;
}

// !Mobile
.header__button{
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;

	padding: 0;

	background-color: transparent;
	border: none;
}

.header__close-icon{
	display: none;
}

.header__button.is-open .header__burger-icon{
	display: none;
}
.header__button.is-open .header__close-icon{
	display: block;
}

.pagination.is-open{
	display: block;
}

