.projects {
	display: none;
	padding-top: 94px;
	padding-bottom: 94px;
}

.projects__item {
	position: relative;
	width: calc((100% - 2 * 30px) / 3);
		&:not(:last-child) {
			margin-right: 30px;
		}
}

.projects__text {
	position: absolute;
	top: 100%;
	transform: translateY(-100%);

	width: 370px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--primary-bgc);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	background-color: rgba(47, 48, 58, 0.8);
}
