//! Переменные
:root {
	--primary-text-color: #757575;
	--secondary-color: #212121;
	--accent-color: #2196f3;
	--primary-bgc: #ffffff;
	--secondary-bgc: #f5f4fa;
	--icons-color: #afb1b8;
	--time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}